.counter-container {
    display: flex;
    width: 100vw; 
    flex-direction: column; 
    border-top: 5px solid rgb(87, 86, 86);
    background: rgba(218, 247, 207, 0.7);
    justify-content: center;
    align-items: center;
    min-height: 38vh;
    
    color: rgb(3, 3, 3);
    text-align: center;
    padding: 40px 20px;
  }
  
  .counter-grid {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
  }
  
  .counter-item {
    flex: 1;
    min-width: 150px;
    text-align: center;
  }
  
  .counter-number {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .counter-label {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }
 
  .counter-heading {
   
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 80px;
    color: #262b32; /* Darker shade for better contrast */
    position: relative;
  }
  
  /* Optional: Add an underline effect */
  .counter-heading::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background-color: #0984e3; /* Blue underline for emphasis */
    border-radius: 2px;
  }