.footer-container {
    background: rgba(234, 244, 197, 0.7);
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
    position: relative;
    padding-bottom: 60px; /* Space for footer-bottom */
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
  
  
  .footer-company h2 {
    font-weight: bold;
  }
  
  .footer-company p {
    max-width: 300px;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icon {
    margin-right: 10px;
    font-size: 24px;
    text-decoration: none;
  }
  
  .footer-links h3 {
    font-weight: bold;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin: 8px 0;
  }
  
  .footer-links a {
    text-decoration: none;
    color: black;
  }
  .footer-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
    background: #c9caca;
  }
  
  .footer-bottom span {
    font-weight: bold;
  }
  